.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.mkdf-blog-list-holder .mkdf-bli-content {
	text-align: center;
}

.mkdf-blog-list-holder .mkdf-bli-content .mkdf-post-read-more-button {
	margin-top: 12px;
}

.mkdf-blog-list-holder .mkdf-post-excerpt {
	margin-top: 14px;
}

.mkdf-btn.mkdf-btn-simple {
	color: #ac162c;
	font-size: 16px;
	font-weight: 700;
	font-family:Lora;
	letter-spacing: 0;
}

.mkdf-btn.mkdf-btn-icon>i, .mkdf-btn.mkdf-btn-icon>span:not(.mkdf-btn-text) {
	margin: 3px 0 0 0;
}

.mkdf-btn.mkdf-btn-simple .mkdf-icon-font-elegant arrow_right {
	margin: 3px 0 0 0;
}

.calltoactionTxt p {
	color: #fff;
	font-size: 25px;
	font-style: italic;
	font-family: "Cormorant Garamond";
	line-height: 32px;
	text-transform: uppercase;
	margin: 0;
}

.calltoactionTxt p strong {
	font-size: 35px;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid {
	padding: 18px 0;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid p {
	margin: 0;
	color: #fff;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid p strong {
	color: #d0b397;
	font-weight: normal;
}

.mkdf-main-menu > ul > li > a {
	position: relative;
	letter-spacing: 0;
}

.mkdf-main-menu > ul > li > a:before {
	background: #ac162c;
	content: '';
	display: block;
	width: 1px; height: 24px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%) rotate(10deg);
}

.mkdf-main-menu > ul > li:first-child > a:before {
	display: none;
}

.mkdf-vertical-align-containers .mkdf-position-right {
	display: flex;
	align-items: center;
	justify-content: center;    
}

.mkdf-vertical-align-containers .mkdf-position-right .mkdf-position-right-inner {
	height: auto!important;
}

.mkdf-vertical-align-containers .mkdf-position-right .mkdf-social-icon-widget-holder {
	background: #f0f0f0;
	display: block;
	height: 34px;
	width: 34px;
	border-radius: 50%;
	text-align: center;
	line-height: 34px;
	margin: 0 5px;
	float: left;
}

.mkdf-footer-bottom-holder h1 {
	color: #fff;
	margin: 0 0 12px;
	text-align: center;    
}

.mkdf-footer-bottom-holder p {
	color: #fff;
	font-size: 16px;
	text-align: center;    
}

.mkdf-footer-bottom-holder p strong {
	color: #f3ebd8;
	font-weight: normal;
}

footer .widget .mkdf-widget-title-holder .mkdf-widget-title {
	border: none;
	padding: 0!important;
	margin-bottom: 5px!important;
}

.mkdf-page-footer .mkdf-footer-top-holder .mkdf-footer-top-inner.mkdf-grid p {
	line-height: 34px;
}

.mkdf-page-footer .mkdf-grid-row {
	display: flex;
	justify-content: center;
}

.mkdf-page-footer .mkdf-grid-col-4 {
	border-left: 1px solid #fff;
	width: 50%;
}

.mkdf-page-footer .mkdf-grid-col-4:first-child {
	border-left: none;
}

.mkdf-page-footer .mkdf-grid-col-4:nth-child(3) {
	display: none!important;
}

footer .widget {
	margin-bottom: 0;
}

footer .mkdf-social-icon-widget-holder {
	background: #ffff;
	display: block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	margin: 10px 15px 0 0;
	float: left;
}

.page-template-blog-standard .mkdf-container,
.postid-2778 .mkdf-content .mkdf-content-inner > .mkdf-container > .mkdf-container-inner, .postid-2778 .mkdf-content .mkdf-content-inner > .mkdf-full-width > .mkdf-full-width-inner {
	margin-top: 50px;
	padding-top: 0!important;
}

.mkdf-post-text-main {
	text-align: center;
}

.mkdf-blog-holder article .mkdf-post-title {
	color: #ac162c;
	font-size: 35px;
	text-transform: none;
	font-family: "Cormorant Garamond";
	font-weight: 700;
	letter-spacing: 0;
}

.mkdf-social-share-holder.mkdf-list li {
	margin: 0 16px 0 0;
}

.mkdf-social-share-holder.mkdf-list li a {
	color: #ac162c;
}

.mkdf-social-share-holder.mkdf-list li a:hover {
	color: #000;
}

.wpb_widgetised_column .widget.mkdf-blog-list-widget .mkdf-post-info-date a, aside.mkdf-sidebar .widget.mkdf-blog-list-widget .mkdf-post-info-date a {
	color: #ac162c;
	font-size: 12px;
}

.wpb_widgetised_column .widget.widget_archive ul li a, .wpb_widgetised_column .widget.widget_categories ul li a, .wpb_widgetised_column .widget.widget_meta ul li a, .wpb_widgetised_column .widget.widget_nav_menu ul li a, .wpb_widgetised_column .widget.widget_pages ul li a, .wpb_widgetised_column .widget.widget_recent_comments ul li a, .wpb_widgetised_column .widget.widget_recent_entries ul li a, aside.mkdf-sidebar .widget.widget_archive ul li a, aside.mkdf-sidebar .widget.widget_categories ul li a, aside.mkdf-sidebar .widget.widget_meta ul li a, aside.mkdf-sidebar .widget.widget_nav_menu ul li a, aside.mkdf-sidebar .widget.widget_pages ul li a, aside.mkdf-sidebar .widget.widget_recent_comments ul li a, aside.mkdf-sidebar .widget.widget_recent_entries ul li a {
	color: #ac162c;
	font-family: Lora;
}

.wpb_widgetised_column .widget.mkdf-blog-list-widget .mkdf-post-title a:hover, aside.mkdf-sidebar .widget.mkdf-blog-list-widget .mkdf-post-title a:hover {
	color: #ac162c;
}

.mkdf-blog-holder article .mkdf-post-info-top>div {
	font-family: Lora!important;
	color: #ac162c!important;
}

.mkdf-title-holder.mkdf-centered-type .mkdf-page-title {
	display: none;
}

/*
 ***************************************************************************************************
 * =Custom CSS Cardapio
 ***************************************************************************************************
*/

.rev_slider_wrapper {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.menu-page-content h1 {
	color: #000;
	font-size: 35px;
	text-transform: none;
}

.custom-menu-feature-title {
	background: #ebebeb;
	margin-top: 0 !important;
}

.custom-tab-index-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.custom-tab-index-list .custom-tab-index {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
}

.custom-tab-index-list .custom-tab-index .wpb_heading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 5px;
	z-index: 10;
	background: transparent;
	transition: background .3s ease;

	color: #fff;
	/*font-size: 35px;*/
	font-size: 30px;
	font-family: "Cormorant Garamond", sans-serif;
	font-style: italic;
	font-weight: bold;
}

.custom-tab-index-list .custom-tab-index .vc_figure:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 90%;
	height: 90%;
	border: 1px solid #fff;
	border-radius: 5px;
	z-index: 5;
}

.custom-tab-index-list .custom-tab-index .vc_figure:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	transition: opacity .3s ease;
}

.custom-tab-index-list .custom-tab-index:hover .wpb_heading,
.custom-tab-index-list .custom-tab-index.active .wpb_heading {background: #000;}

.custom-tab-index-list .custom-tab-index:hover .vc_figure:after,
.custom-tab-index-list .custom-tab-index.active .vc_figure:after {opacity: 0;}

.custom-tabs-content {margin-top: 20px;}

.custom-tabs-content > ul {
	display: none !important;
}

.custom-menu-section {
	padding: 0 20px;
}

.custom-menu-section .vc_tta-panel-body .vc_row {
	/*border-bottom: 1px solid #ac162c;*/
}

/*.custom-menu-section .vc_tta-panel-body .vc_row:first-of-type {border-top: none;}*/

/*.custom-menu-section .vc_tta-panel-body .vc_column_container>.vc_column-inner>.wpb_wrapper {padding: 0 10px;}*/

.custom-menu-section .vc_tta-panel-body .vc_column_container>.vc_column-inner>.wpb_wrapper {
	padding: 0 10px 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ac162c;
}

.custom-menu-section .vc_tta-panel-body .vc_column_container>.vc_column-inner>.wpb_wrapper:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
}

.custom-menu-section .vc_tta-panel-body .custom-menu-title,
.custom-menu-accordion .vc_tta-panel-body .custom-menu-title {
	float: left;
	font-size: 22px;
}

.custom-menu-section .vc_tta-panel-body .custom-menu-price,
.custom-menu-accordion .vc_tta-panel-body .custom-menu-price {
	float: right;
	font-size: 20px;
}

.custom-menu-section .vc_tta-panel-body .custom-menu-description,
.custom-menu-accordion .vc_tta-panel-body .custom-menu-description {
	clear: both;
	padding-top: 13px;
}

.custom-menu-section .vc_tta-panel-body .custom-menu-small-text,
.custom-menu-accordion .vc_tta-panel-body .custom-menu-small-text {margin-bottom: 14px !important;}

.custom-menu-section .vc_tta-panel-body .custom-menu-small-text p,
.custom-menu-accordion .vc_tta-panel-body .custom-menu-small-text p {
	padding: 0 10px;
	font-size: 16px;
}

.custom-menu-accordion .vc_tta-panels > .vc_tta-panel {
	border-bottom: 2px solid #c8c8c8;
}

.custom-menu-accordion .vc_tta-panel-title {
	padding: 14px 0;
	font-family: Lora, sans-serif;
	font-size: 20px;
	line-height: 70px;
	font-weight: 400;
}

.custom-menu-accordion .vc_tta-panel-body {
	color: #000;
}

.custom-menu-accordion .btn-custom-close-accordion {
	display: block;
	overflow: hidden;
	max-height: 0px;
	padding-left: 7px;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s ease, visibility .3s ease;

	color: #c8c8c8;
	font-family: Lora, sans-serif;
	font-weight: 600;
	font-size: 22px;
}

.custom-menu-accordion .vc_tta-panel.vc_active .btn-custom-close-accordion {
	margin-bottom: 10px;
	max-height: 100vh;
	opacity: 1;
	visibility: visible;
}

.custom-menu-accordion .vc_tta-panel-body .vc_column_container>.vc_column-inner>.wpb_wrapper {
	padding: 0 10px 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ac162c;
}

.custom-menu-accordion .vc_tta-panel-body .vc_column_container>.vc_column-inner>.wpb_wrapper:after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
}

.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading,
.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-body,
.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-heading {background-color: transparent !important;}

.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title>a,
.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title>a {color: #000 !important;}

.custom-menu-accordion.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title>a {padding-left: 26px !important;}
.custom-menu-accordion.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {left: 0 !important;}

.custom-menu-accordion.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::before {border-width: 3px 0 0 !important;}
.custom-menu-accordion.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::after {border-width: 0 0 0 3px !important;}

.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after,
.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before,
.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_tta-controls-icon::after,
.custom-menu-accordion.vc_tta-color-grey.vc_tta-style-flat .vc_tta-controls-icon::before {border-color: #000 !important;}

.mkdf-tabs.mkdf-tabs-simple .mkdf-tab-container {
	border-bottom: none !important;
	padding: 0 !important;
}

.custom-btn-slick {
	color: #ac162c !important;
	font-size: 40px !important;
	z-index: 10 !important;
}

.custom-btn-slick.slick-prev {left: 11px;}
.custom-btn-slick.slick-next {right: 20px;}

.custom-btn-slick:before {content: none !important;}

.custom-btn-slick span {display: none !important;}

.mkdf-mobile-header .mkdf-mobile-menu-opener a .mkdf-mobile-menu-icon {
	font-size: 34px;
	line-height: 83px;
}

/*
 ***************************************************************************************************
 * =LightBox
 ***************************************************************************************************
*/
.custom-light-box {
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
}
.custom-light-box .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}

.custom-light-box .popup-wrap {
	position: absolute;
	display: table;
	top: 50%;
	left: 50%;
	max-width: 90%;
	transform: translate(-50%, -50%);
}

.custom-light-box .popup-wrap .btn-custom-close {
	display: block;
	position: absolute;
	top: 10px;
	right: 2%;
	z-index: 10;

	color: #fff;
	font-size: 30px;
	line-height: 1;
}

.custom-light-box .popup-wrap .img-wrap {
	display: block;
}

.custom-light-box .popup-wrap .img-wrap img {
	display: block;
	max-width: 100%;
	height: auto;
}

/*
 ***************************************************************************************************
 * =Responsive
 ***************************************************************************************************
*/

@media only screen and (max-width : 1024px) {
	.mkdf-page-footer .mkdf-grid-row {display: block;}
	.mkdf-page-footer .mkdf-grid-col-4 {
		border-left: none;
		width: 50%!important;
	}
	/*#slide-1-layer-11 {min-height: 100px !important;}*/
}

@media only screen and (max-width : 767px) {
	.mkdf-page-footer .mkdf-grid-col-4 {
		width: 100%!important;
	}

	.mkdf-page-footer .mkdf-grid-col-4:first-child() {
		width: 100%!important;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width : 736px) {

	/*.tp-svg-innercontainer{
		display: none;
	}

	.tp-svg-innercontainer svg {
		display: none;
	}*/

	.custom-tab-index-list .custom-tab-index {
		width: 245px;
		margin: 0 auto;
	}

	.custom-menu-feature-title.vc_custom_1523451248589 {
		margin-bottom: 10px;
		padding: 7px 0 7px 10px !important;
		font-size: 15px !important;
		line-height: 1.4 !important;
	}

	.custom-menu-section {padding: 0;}

	.custom-menu-section .vc_tta-panel-body .custom-menu-title,
	.custom-menu-accordion .vc_tta-panel-body .custom-menu-title {
		display: block;
		float: none;
		font-size: 15px;
	}

	.custom-menu-section .vc_tta-panel-body .custom-menu-price,
	.custom-menu-accordion .vc_tta-panel-body .custom-menu-price {
		display: block;
		float: none;
		font-size: 13px;
	}

	.custom-menu-section .vc_tta-panel-body .custom-menu-description,
	.custom-menu-accordion .vc_tta-panel-body .custom-menu-description {padding-top: 0;}

	.custom-menu-section .vc_tta-panel-body .custom-menu-description p,
	.custom-menu-accordion .vc_tta-panel-body .custom-menu-description p {
		padding-top: 5px;

		font-size: 12px;
		line-height: 1.5;
	}

	.custom-menu-accordion .vc_tta-panel-title {
		padding: 0;
		font-size: 15px;
	}

	.custom-menu-accordion.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::before {border-width: 2px 0 0 !important;}
	.custom-menu-accordion.vc_tta .vc_tta-controls-icon.vc_tta-controls-icon-plus::after {border-width: 0 0 0 2px !important;}

	.custom-menu-section .vc_tta-panel-body .custom-menu-small-text p,
	.custom-menu-accordion .vc_tta-panel-body .custom-menu-small-text p {
		font-size: 12px;
		line-height: 1.5;
	}

	.custom-menu-accordion .btn-custom-close-accordion {font-size: 15px;}

}